
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/*============ HEADER ============*/

header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgba(163, 186, 200, 0.5);
}

.logo-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.logo {
    width: 150px;
    height: auto;
    max-height: 50px;
}

nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0 2rem;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    font-size: 1.7rem;
    text-decoration: none;
    color: #1070c9;
    font-weight: 800;
    transition: border-bottom 0.3s ease-in-out;
}

nav ul li a:hover {
    border-bottom: .2rem solid #d2ab34;
    color: #d2ab34 ;
}

/*============ HERO ============*/

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
    /* Resta la altura del header */
    box-sizing: border-box;
    background-color: #ffffff;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    box-shadow: 0px 4px 20px rgba(51, 51, 51, 0.6);
    border-radius: 8px;
}

.content {
    text-align: center;
}

h1 {
    font-size: 6rem;
    font-weight: 900;
    color: #185083;
    line-height: 1.2;
}

.tags {
    font-size: 3rem;
    font-weight: 600;
    color: #6c6c6c;
}

p {
    font-size: 3rem;
    color: #6c6c6c;
    font-weight: 600;
    margin-top: 10px;
}

.profile {
    text-align: center;
}

.profile img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/*============ ABOUT ============*/

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    box-sizing: border-box;
    background-color: #ffffff;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    box-shadow: 0px 4px 20px rgba(51, 51, 51, 0.6);
    border-radius: 8px;
    padding: 20px;
}

.about h2 {
    font-size: 4rem;
    font-weight: 900;
    color: #185083;
    line-height: 1.2;
    margin-bottom: 20px;
}

.about p {
    font-size: 1.5rem;
    color: #6c6c6c;
    font-weight: 400;
}

.about-image-container {
    text-align: center;
    max-width: 50%;
}

.about-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}


