@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    --color-primary: #c8ad8d;
    --color-secondary: #6f7357;
    --color-tertiary: #273a2d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: var(--color-tertiary);
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--color-primary);
}

.logo {
    width: 100px;
    height: auto;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: var(--color-tertiary);
    font-weight: bold;
}

.hero {
    width: 60%;
    display: flex;
    align-items: center;
    padding: 2rem;
    background-color: var(--color-secondary);
    border-radius: 1rem;
    margin: .5rem;
}

.profile-pic {
    width: 300px;
    border-radius: 6%;
    margin-right: 2rem;
}

.hero-content {
    flex: 1;
}

h1 {
    font-size: 3rem;
    margin-bottom: 0.2rem;
}

.job-title {
    font-size: 2.2rem;
    color: var(--color-primary);
    display: block;
    margin-bottom: .6rem;
}

.hero-content p {
    font-size: 1.5rem;
}

.tech-icons {
    margin-top: .2rem;
    width: 50%;
}

.tech-icons i {
    width: 60px;
    height: 60px;
}

.about {
    display: flex;
    align-items: center;
    padding: 2rem;
    background-color: var(--color-primary);
}

.about-content {
    flex: 1;
    margin-right: 2rem;
}

.about-image {
    width: 300px;
    height: auto;
}



